@import "./assets/scss/themes.scss";

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input:invalid {
    color: rgb(248, 113, 113) !important;
    // border-color: rgb(248, 113, 113) !important;
}

/* Adiciona animação de check */
@keyframes check {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.animate-check .circle {
    stroke-dasharray: 126.9;
    stroke-dashoffset: 126.9;
    animation: check 0.5s ease-in-out forwards;
}

@keyframes animate-ellipsis {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }

    100% {
        content: ".";
    }
}

.animate-ellipsis::after {
    content: ".";
    animation: animate-ellipsis 3s steps(4) infinite;
}

/* Adiciona animação de X */
@keyframes cancel-x {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-cancel-x .line-1 {
    animation: cancel-x 0.5s ease-in-out forwards;
}

.animate-cancel-x .line-2 {
    animation: cancel-x 0.5s ease-in-out 0.2s forwards;
}

/* Define cor de erro personalizada */
:root {
    --error-color: #dc3545;
}

/* animation */

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.show-light {
    display: block !important;
}


input,
select,
textarea {
    font-size: 16px;
}


.outline-primary:focus {
    outline: 3px solid #09b285 !important;
}

.outline-secondary:focus {
    outline: 3px solid #FFC86B !important;
}

.mine-scroll-bar::-webkit-scrollbar,
.mine-scroll-bar::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.mine-scroll-bar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.scroll-width-thin {
    scrollbar-width: thin;
    scrollbar-color: #FFC86B #f1f1f1;
}

.scroll-width-none {
    scrollbar-width: none;
}